{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/component.css'%}" type="text/css">
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/1b24a1a7da.js" crossorigin="anonymous"></script> 

    <title>Home</title>
</head>
<body>
  

  <div class="side-header">

    <a class="logo" href="{% url 'home' %}">
      <i class="fas fa-globe"></i>
      <p>ARCHIVE MD</p>
    </a>

    <div class="menu-buttons">
    <a href="{% url 'home' %}"> Home</a>

      {% if not user.is_authenticated %}
      <a href ="{% url 'login' %}">Login</a>
      {% endif %}
      
      {% if user.is_authenticated %}
      <a href ="{% url 'logout' %}">Logout</a>
      {% endif %}

      {% if not user.is_authenticated %}
      <a href ="{% url 'register' %}">Signup</a>
      {% endif %}

      {% if user.is_authenticated %}
      <a href="{% url 'mypage' %}">Mypage</a>
      {% endif %}

      <a href="{% url 'mypage' %}">About</a>
      <a href="{% url 'mypage' %}">Awards</a>
      <a href="{% url 'mypage' %}">Notice</a>

      <a href="{% url 'mypage' %}">Create</a>

      <a class="side-search-button" href="{% url 'video_list' %}">Search</a>
    </div>

    <div class="social-buttons">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-google"></i>
      <i class="fab fa-github"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div> <!--사이드헤더 끝-->
    
  <div class="container">

    <div class="upper-header">

      <a class="search-button" href="{% url 'video_list' %}">Search<i class="fas fa-search" style="margin-left:5px;"></i></a>

      <a class="how-to-use">
        How to use
      </a>

      <a class="write" href ="{% url 'new' %}">Create</a>
      
    </div> 

     <!--info-section-->
    <div class="info-section">

      <div class="info-1">
        <img src="{% static 'img/baseimg.jpg'%}" width="720" height="420" alt="사진">
        <div class="infos">
          {%for notice in notices %}
          <a>{{notice.notice_title}}{{notice.notice_pub_date}}</a>
          {% endfor %}
        </div>
      </div>

      <div class="info-2">
       <p>Devstars Web</p>
       <p>Deverlopment</p>
       <p>By Dayun</p>
       <p>Incheon, Korea</p>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div> 

    <!--인기글-->
    <p class="hot-posts">Hot Posts</p>

    <div class="popular-section">

      {% for popular_blog in popular_blogs.all %}
        <div class="popular-post">
        <!--이미지-->
        <a href="{% url 'detail' popular_blog.id %}">
          {% if popular_blog.cover_image %}
          <img src="{{popular_blog.cover_image.url}}" width="320" height="180" alt="사진">
          {% else %} 
          <img src="{% static 'img/baseimg.jpg'%}" width="320" height="180" alt="사진">
          {% endif %}
        </a>

        <div style="display: flex;  ">
          <p style="margin: 0;">{{popular_blog.title}}</p>
        </div>
        <p style="margin: 0;">by {{popular_blog.author}} | {{ popular_blog.like_count }}</p>
      </div>
      {% endfor %}    

    </div><!--인기글 섹션-->

    <div class="insert-box">

    </div>

    <!--일반 게시글 섹션-->
    <div class="post-section">

        {% for blog in blogs.all %}
          <div class="posts">
            <a href="{% url 'detail' blog.id %}">
              {% if blog.cover_image %}
              <img src="{{blog.cover_image.url}}" width="250" height="140" alt="사진">
              {% else %}
              <img src="{% static 'img/baseimg.jpg'%}" width="250" height="140" alt="사진">
              {% endif %}
            </a>

              <div style="display: flex;">
                <p style="margin: 0;">{{blog.title}}</p>
              
              </div>
              
              <p style="margin: 0;">by {{blog.author}} | {{blog.like.count}}</p>
          </div>
      {% endfor %}

    </div>


    <footer>
      <div class="footer-content-top">MORE INFO ABOUT MY PAGE</div>

      <div class="footer-content-bottom">
        <div>ARCHIVE MD © 2021</div>

        <div class="footer-icons"> 
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-google"></i>
          <i class="fab fa-github"></i>
          <i class="fab fa-instagram"></i>
        </div>

        <div>BE INSPIRED. BE INSPIRING.</div>
    </div>
    </footer>
      



</div>
   
    
    
</body>
</html>